<div class="ba-header">
    <div class="header-left">
        <span class="header-button ba-pointer" menuToggle>
          <i class="fa fa-bars" aria-hidden="true"></i>
      </span>
    </div>
    <div class="header-main">
        <div class="search-bar" *ngIf="showSearchBar" #searchBar>
            <span class="search-button ba-pointer" #searchButton>
                <i class="fa fa-search search" aria-hidden="true"></i>
                <i class="fa fa-times cancel" aria-hidden="true"></i>
            </span>
            <input #searchInput type="text" class="search-input" placeholder="{{placeholder}}" />
        </div>
    </div>
    <div class="header-right">
        <span class="message header-button ba-pointer">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <span class="bagde">3</span>
          <div class="overlay-content">
              Hello. Its me.
          </div>
        </span>
        <span class="notification header-button ba-pointer">
          <i class="fa fa-bell" aria-hidden="true"></i>
          <span class="bagde">5</span>
        </span>
        <span class="avatar ba-pointer">
          <img src="https://cdn.pixabay.com/photo/2016/08/20/05/38/avatar-1606916_960_720.png" alt="">
        </span>
    </div>
</div>